*{
    font-family: 'Nunito Sans', sans-serif;
}

body{
    margin: 0;
    background-color:  #f3f4f5;
}

#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
    padding: 60px 40px 40px 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #e8eaec;
    width: 20%;
    height: 50%;
    text-align: center;
    background-color: white;
}

  
header {
    min-width: 100%;
    overflow: hidden;
    height: 70px;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 2px #e8eaec;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
  
.container1 {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}
  
.flexbox {
    display: flex;
    justify-content: space-between;
}
  
.title {
    height: 56px;
}

#box{
    width: 100px;
}
  
.title h1 {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 800;
    color: rgb(63, 110, 238);
    letter-spacing: .2px;
}

#overlay{
    display: none;
    position: fixed; /* Sit on top of the page content */
    top: 0;
    left: 0;
    min-width: 100%; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    background-color:rgba(0, 0, 0, .5); /* Black background with opacity */
    z-index: 5555; /* Specify a stack order in case you're using a different order for otherheight: 100%; */
}
  
#overlay.visible{
    display: block;
}

nav {
    text-align: right;
    height: 56px;
    font-size: 100%;
}
  
nav ul {
    padding: 0;
    margin: 0;
    float: none;
    list-style: none;
}

#pfp{
    border-radius: 50%;
    height: 50px;
    margin-left: 50px;
    width: 50px;
}

#pfp1{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
  
nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}
  
nav ul li a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}
  
#popup i{
    font-size: 20px;
    margin-left: 100%;
    position: absolute;
    top: 7%;
    right: 8%;
}

#img1{
    position: relative;
    top: 5%;
    left: 8%;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}
  
nav ul li + li {
    margin-left: 25px;
}

#post-area{
    background-color: white;
    padding: 20px;
    width: 102%;
    height: 180px;
    margin-left: -25px;
    margin-top: 30px;
}

#posts{
    width: 111%;
    margin-top: 10px;
    margin-left: -25px;
}

#pfp0{
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

#post-img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

#text{
    margin-top: 20px;
    margin-bottom: 0px;
}

#name{
    font-weight: 600;
}

#posts div{
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

#post-area textarea{
    outline: none;
    font-size: 15px;
    border: white;
    resize: none;
    width: 100%;
    height: 80%;
}

#post{
    width: 60px;
    border-radius: 5px;
    color: white;
    background: rgb(131, 202, 247);
    transition:color 2s ease-in;
    padding: 5px;
    font-size: 15px;
    border: 0;
}

#post:hover{
    background-color: rgb(85, 190, 255);
}

#buttons{
    display: flex;
    justify-content: space-between;
}

input[type='file'] {
    margin-top: 5px;
    opacity:0;
    width: 95px;  
}

#select{
    border-radius: 5px;
    color: white;
    background-color: orange;
    padding: 4px 6px 5px 30px;
    margin-left: -115px;
}

#container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}

#primary {
    float: left;
    width: 15%;
    background-color: white;
    margin: 20px 20px 0px 0px;
    height: 420px;
    padding: 40px;
}

#primary h1{
    margin-bottom: 0px;
}

#primary h2{
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

#lower{
    color:  #8e8f91;
    font-weight: 100;
    font-size: 14px;
    margin: 0;
}

#follow{
    background-color:  rgb(63, 110, 238);
    color: white;
    border: 0;
    padding: 10px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

#connect{
    background-color:  white;
    border-color: rgb(63, 110, 238);
    color: rgb(63, 110, 238);
    font-weight: bold;
    padding: 10px;
    width: 70%;
    border-radius: 20px;
}


#primary img{ 
 border-radius: 50%;
}

main{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100vh;
}

#content {
    text-align: left;
    float: left;
    padding: 0px 25px 0px 25px;
    background-color: white;
    height: 95px;
    margin: 20px 20px 0px 0px;
    width: 45%;
}

#content hr{
    width: 100%;
    margin: 0;
}

#contacts i{
    font-size: 20px;
    float: right;
}

#secondary {
    float: left;
    width: 25%;
    height: 560px;
    background-color: white;
    margin: 20px 0px 0px 0px;
    padding: 20px;
}

#secondary h2{
    font-size: 20px;
    text-align: left;
    margin-top: 0;
}

  section{
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100%;
  }

  #wrapper{
      height: 90%;
  }


  #contacts img{
    border-radius: 50%;
    margin-right: 10px;
  }

  #contacts{
    padding: 10px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    text-align: left;
  }

  #contacts ul li{
    text-decoration: none;
    list-style-type: none;
    margin-left: -25px;
  }